html,
body {
    margin: 0;
    padding: 0
}

body {
    background: rgb(6, 1, 26);
    font-family: 'Times New Roman', sans-serif;
}

p {
    margin: 0 10px 10px;
    font-family: sans-serif;
}

a {
    display: block;
    padding: 10px
}

i {
    padding: 10px;
}


/*parte del encabezado---------------------------------------------*/

div#header {
    width: 97%;
    height: 400px;
    line-height: 80px;
    margin: 0;
    padding: 0;
}

.contenedoritem {
    position: relative;
    width: 100%;
    height: 400px;
    line-height: 80px;
    margin: 0;
    padding: 0;
}

.contenedoritem:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(22, 21, 21, 0.863));
    filter: drop-shadow(0px 0px 13px);
}

.contenedorimg {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}


/*slider -----------------------------------------------------------------------------*/

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 400px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: 1s;
    animation-direction: alternate;
    background: #FFF;
}

ul.slider li img {
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.opcion {
    margin: 10px;
    margin-left: 1145px;
    position: relative;
    top: -90px;
}

.opcion li {
    display: inline-block;
}

.opcion li a {
    display: inline-block;
    background-color: rgba(76, 32, 156, 0.63);
    padding: 7px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


/*fin del slider----------------------------------------------------------------------*/


/*titulos ----------------------------------------------------------------------------*/

#titulo {
    color: rgb(112, 185, 176);
    font-family: monospace, monaco;
}

#titulo2 {
    color: rgb(112, 185, 176);
    font-family: monospace, monaco;
    padding-top: 10px;
    margin: 10px;
}

#titulo3 {
    color: rgb(192, 190, 45);
    font-family: monospace, monaco;
    padding-top: 10px;
    margin: 10px;
}

#titulo3:hover{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

/*fin de titulos ---------------------------------------------------------------------*/


/*fin del encabezado---------------------------------------------*/

div#footer {
    background: rgb(0, 0, 0);
    color: #FFF;
    clear: left;
    width: 100%;
    text-align: center;
}

footer {
    height: 50 px;
}

div#footer p {
    margin: 0;
    padding: 5px 10px;
}

div#wrapper {
    float: left;
    width: 100%;
}

div#content {
    margin: 0 25%
}

div#navigation {
    float: left;
    width: 25%;
    margin-left: -100%;
}


/*imagenes-------------------------------------------------------*/

div#extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: black;
}

#img1 {
    background-image: url(imag/gato.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding: 10px;
}

#img2 {
    background-image: url(imag/Link.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    padding: 10px;
}

#img3 {
    background-image: url(imag/Serena.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding: 10px;
}

#img4 {
    background-image: url(imag/star.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding: 10px;
}

#img5 {
    background-image: url(imag/Link1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding: 10px;
}

#img6 {
    background-image: url(imag/avatar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding: 10px;
}

#img7 {
    background-image: url(imag/anime.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding: 10px;
}

img.extra3 {
    width: 350px;
    height: 200px;
    margin: auto;
}

/*
Animacion
*/

img.extra3:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);

}

/**/
img.titulo {
    float: left;
    width: 20px;
    height: 20px;
}

header.titulo {
    float: left;
    margin-right: 15px;
}


/*fin de imagenes -----------------------------------------*/

div.reset {
    clear: both;
}

div.centro {
    position: relative;
    width: 120%;
    margin: 0 auto;
    margin-bottom: 30px;
    top: -90px;
}

article {
    display: inline-block;
    position: relative;
    width: 120%;
    height: 1950px;
    background: rgb(2, 2, 2);
    filter: drop-shadow(10px 10px 12px);
    font: 15px arial, sans-serif;
    color: white;
    margin-left: -150px;
    border-radius: 20px;
    overflow: hidden;
    clear: right;
}

.mainmenubtn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px 40px 40px 10px;
}

.mainmenubtn:hover {
    background-color: rgb(57, 57, 57);
    opacity: 0.8;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: rgb(85, 88, 88);
    min-width: 200px;
}

.dropdown-child a {
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown-child a:hover{
    opacity: 0.8;
    background-color: rgb(126, 129,129);
}

.dropdown:hover .dropdown-child {
    display: block;
}


.animacion:hover{
    -moz-transform: scale(1.7);
    -webkit-transform: scale(1.7);
}
